
/*  
  Side Navigation Menu V2, RWD
  ===================
  License:
  https://goo.gl/EaUPrt
  ===================
  Author: @PableraShow

 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body{
  background-color: #333;
  padding-bottom: 50px;
}

.team{
  background-color: #111;
  box-shadow: 10px 10px 40px 0px black;
  border-radius: 5px;
}

.team *{
  color: lightgrey;
}

.avatar{
  border-radius: 5px;
}

.navbar-right>li>ul>li{
      float: left;
}

.searchGo{
  font-size: 10px; 
  border:0px;
  border-radius: 100%; 
  width:25px;
  height:25px; 
  color: black; 
  background: radial-gradient(rgb(233,233,233) 30%, rgb(30,30,30), rgb(30,30,30));
}

.search {
    color: grey;
    width: 70%;
    margin-left: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding-left:10px;
    -webkit-transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;
}

#searchContainer{
  margin:0px;
  padding:12px;
  padding-right: 0px;
}

.search:focus {
    width: 100%;
    margin-left: 0%;
}

.comment{
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid lightgrey;
}

div.comment p.username,p.time{
  color: lightgrey;
  font-size: 11px;
}
div.comment p.commenttext{
  color: white;
  font-size: 13px;
}




.navbar-brand a{
  color: grey;
  font-weight: normal !important;
  font-size: 12;
}

.navbar-brand a:hover{
  color:white;
}

#imm{
  margin-top:2.5px;
}

#map {
        height: 400px;
        width: 100%;
       }

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

  
#fn{
  margin-left: 0.7cm;
}
#ln{
  margin-left: 0.2cm;
}
#em{
  margin-left: 0.6cm;
}
#pw{
  margin-left: 0.2cm;
}

.namee{
  text-align:center;
  padding-top: 50px;
}

#n1 {
    color:white ;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
}

/* Standard syntax */
@keyframes example {
    from {color: #740023;}
    to {color:  #000080;}
}

@media (max-width: 856px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
  .namee{
    padding-top: 100px;
  }
}


@media (max-width: 768px) {
  .navbar-nav  {
    width:50%;
   display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  } 
  .dropdown-submenu:onclick>.dropdown-menu {
    display: block;
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: white;
   }
   
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
    background-color: white;
   }
   .navbar-nav .open .dropdown-menu {
     border-bottom: 0.5px solid white; 
     border-radius: 0;
   }
   li.dropdown.open {
    border: 0.5px solid white;
   }
   .namee{
    text-align:center;
    padding-top: 50px;
   }
   .container .carousel{
    width:100%;
    margin:0px;
    margin-top:2px;
  }
  .modal-dialog {
    width: 100%;
  left:0px;
  }

  #fn{

  margin-left: 0cm;
  }

  #ln{
    margin-left: 0cm
  }

  #em{
    margin-left: 0cm
  }

  #pw{
    margin-left: 0cm
  }
  .search{
    width:100%;
    margin-left: 0%;
  }
  #myfooter *{
    padding-bottom: 0px; 
    display: inline;
  }
}
 
#myfooter{
  padding-left: 20px;
  padding-right: 20px;
}